<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tudelft.mdp" >

    <uses-sdk tools:node="replace" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="tudelft.mdp.permission.C2D_MESSAGE" />

    <permission
        android:name="tudelft.mdp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/plug"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- METADATA -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- RECEIVERS -->
        <receiver
            android:name="tudelft.mdp.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="tudelft.mdp" />
            </intent-filter>
        </receiver>

        <!-- SERVICES -->
        <service android:name="tudelft.mdp.gcm.GcmIntentService" />
        <service android:name="tudelft.mdp.communication.ListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name="tudelft.mdp.locationTracker.LocationDetectionService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="tudelft.mdp.locationTracker.NetworkScanService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!-- ACTIVITIES -->
        <activity
            android:name="tudelft.mdp.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName="tudelft.mdp.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tudelft.mdp.MainActivity" />
        </activity>
        <activity
            android:name="tudelft.mdp.MainActivity"
            android:label="@string/title_activity_main_"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- NFC -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="tudelft.mdp.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="tudelft.mdp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tudelft.mdp.MainActivity" />
        </activity>
    </application>

</manifest>
